* {
    box-sizing: border-box;
}

#result {
    display: flex;
    flex-wrap: wrap;
}

#left {
    width: 630px;
    display: flex;
    flex-wrap: wrap;
}

div.item {
    width: 200px;
    height: 40px;
    border: solid 1px #000000;
    margin: 5px;
}

div.checked {
    background-color: #aaaaaa;
}

label {
    line-height: 40px;
    display: inline-block;
    height: 40px;
    width: 200px;
    padding: 0 0 0 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

#right > h2 {
    width: 115px;
    text-align: right;
}