div {
    width: fit-content;
}

.img1 {
    width: 200px;
}

/* フェードイン */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadein {
    opacity: 0;
}

.fadein.animation {
    animation: fadein 1s 1s both;
}

/* フェードアウト */

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeout {
    opacity: 0;
}

.fadeout.animation {
    animation: fadeout 1s 0s both;
}

/* スライドイン */

@keyframes slidein {
    from {
        transform: translateX(50vw);
    }

    to {
        transform: translateX(0);
    }
}

.slidein {
    transform: translateX(50vw);
}

.slidein.animation {
    animation: slidein 1s 1s both;
}

/* フェードイン + スライドイン */

.fade-slidein.animation {
    animation: fadein 1s 1s both, slidein 1s 1s both;
}